body {
  background-color: #f6f8ff;
  font-family: 'Inter', sans-serif;
  font-family: "Raleway", sans-serif;
}
.logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 34px;
  font-style: normal;
  color: #4E47FF;

}
h2{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 42px;
  color: #252432;
}
h3{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 38px;
  color: #252432;
}
p{
  color: #252432;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  color: #252432;
}
button{
  background-color:#4E47FF ;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  
}
button:hover{
  background-color: #474492;
  cursor: pointer;
}
header{
  background-image: url("./Assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.header-button:hover{
  background-color: #474492;

}
header .container{
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
  padding-top: 40px;
}

.signup-btn{
  width: 132px;
  height: 48px;

}
.primary-heading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.primary-heading h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  width:905px ;
}
.primary-heading button{
  width: 174px;
  height: 48px;
}
main{
  max-width: 1140px;
  margin: 0 auto;
}
/* cta section */
.cta-section{
  display: flex;
  justify-content: space-between;
  width: 1140px;
  height: 328px;
  text-align: left;
  margin:116px 0px 116px 0px;
}
.cta-items{
  width:515px;
}
.cta-section img{
  border-radius:48px ;
}
.preview-button{
  width: 229px;
  height: 38px;
}
.rating-section{
  height: 306px;
  display: flex;
  text-align: center;
  background-color:#4E47FF1A;
  border-radius: 24px;
}
/* Stats Section */
.stats {
  background-color: #eef2ff;
  padding: 2%;
  text-align: center;
  border-radius: 24px;
  height: 306px;
}

.stats h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.stat-items {
  margin-top: -70px;
  display: flex;
  justify-content: space-around;
}

.stat-item h3 {
  font-size: 80px;
  color: #6c63ff;
  margin-bottom: 10px;
}
.stat-item p {
  color: #252432;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 20px;
  color: #252432;
  margin-top: -10px;
}
/* Testimonials Section */
.testimonials {
  padding: 100px 0;
  text-align: center;

}

.testimonials h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.testimonial-items {
  display: flex;
  justify-content: space-around;
}

.testimonial-item {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 290px;
  height: 283px;
}

.stars i {
  margin-bottom: 10px;
  margin: 0px 5px 0px 0px;
}

.testimonial-item h4 {
  font-size: 29px;
  margin-bottom: 10px;
}
.testimonial-item p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.review{
  display: flex;
  align-items: center;
  margin-top: 29px;
}

.review img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.name-text {
  margin-top: 20px;
  font-family: 'AG Body', sans-serif; 
  font-weight: 600; 
  font-size: 16px;
  line-height: 140%; 
  color: #6c757d
}

.date-text{
  font-family: 'AG Body', sans-serif; 
  font-weight: 400; 
  font-size: 10px; 
  color: #adb5bd;
  margin-top: -20px;
  text-align: left;
}
/* Ready to Focus Section */
.ready-to-focus {
  text-align: center;
  padding: 50px;
  background-color: white;
  border-radius: 14px;
    
}
.ready-to-focus .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.ready-to-focus .container button{
  width: 195px;
  height: 48px;
  background-color:#4E47FF;
  border-radius:10px ;
  border: none;
  color: white;
}
.ready-to-focus .container button:hover{
  background-color: #474492;
}
.ready-to-focus p{
  font-family: 'AG Body', sans-serif;
  font-size: 14px;
  font-weight: 400; 
  line-height: 140%; 
  letter-spacing: 0.2px;
  color: #252432; 
  margin-top: -20px;
}
.ready-to-focus h2 {
  font-size: 40px;
}

.ready-to-focus img {
  width: 840px;
  height: 365px;
  border-radius: 48px;

}
/* Contact Section */
.contact .container {
  display: flex;
  padding: 100px 20px;
  align-items: center;
  max-width: 100%;
}

.contact .text-content {
  flex: 1;
}

.contact h2 {
  font-size: 97px;
}

.contact .form-content {
  width: 45%;
}

form label {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

form input, form textarea {
  width: 95%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
}
form button{
  width: 500px;
  height: 62px;
  background-color: #4E47FF;
  border-radius: 10px;
  border: none;
  color: white;
}
form button:hover{
  background-color: #474492;
}
footer{
  width: 100%;
  background-color: white;

}
.footer-content{
  width: 750px;
  height: 400px; ;
  text-align: center;
  margin: 0 auto;
  padding: 2%;
}

.footer-logo{
  font-size: 100px;
}
footer p{
  color: #8987A1;
  margin-top:-60px;
}
.footer-nav{
  display: flex;
  justify-content: center; /* horizontally center */
}

.footer-nav ul{
  display: flex;
  list-style: none; 
  gap: 48px; 
  padding: 0;
  margin: 0;
}
.footer-nav ul li{
  font-family: 'AG Body', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #8987A1; 
  
}